<div class="popular_block" data-group-name="{{key}}">

  <p class="pseudo_h2">{{key}}</p>
  
  <div class="contain_pop" data-slices-list>

    {% for slice in popularBlock %}

      <a href="/catalog/{{slice.alias}}/">

        <img src="/images/slices/{{slice.image}}">
        <p class="pseudo_h3">{{slice.name}}</p>

      </a>

    {% endfor %}

  </div>

  {% if isMoreSlices %}

    <button class="yet _active">Показать еще</button>

  {% else %}

    <button class="yet">Показать еще</button>

  {% endif %}



</div>